body {
  background-color: #57FC4E;
  color: #0230FA;
}

.purple-background {
  background-color: #6200FF;
  color: #F9B5FF;
}


#unicorn-hidden {
  display: none;
}

#info-showing {
  display: none;
}

.unhighlighted {
  cursor: crosshair;
}

.highlight {
  background-color: #F6FA7D;
  border: 2px solid black;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable2:hover {
  text-decoration: underline;
}

.clickable3 {
  cursor: pointer;
  color: #0088cc;
}

.clickable3:hover {
  text-decoration: underline;
}
