
#JS-hidden {
  display: none;
}

#Operators-hidden {
  display: none;
}

#Variables-hidden {
  display: none;
}

#Var-naming-hidden {
  display: none;
}

#Functions-hidden {
  display: none;
}

#Methods-hidden {
  display: none;
}

#Arguments-hidden {
  display: none;
}

#Parameters-hidden {
  display: none;
}

#Return-hidden {
  display: none;
}

#Chaining-hidden {
  display: none;
}

#Strings-hidden {
  display: none;
}

#Booleans-hidden {
  display: none;
}

#Undefined-hidden {
  display: none;
}

#NaN-hidden {
  display: none;
}

#Escape-hidden {
  display: none;
}

#Alerts-hidden {
  display: none;
}

#Comments-hidden {
  display: none;
}

#jQuery-hidden {
  display: none;
}

#Attributes-hidden {
  display: none;
}

.JS {
  cursor: pointer;
  color: #0088cc;
}

.Operators {
  cursor: pointer;
  color: #0088cc;
}

.Variables {
  cursor: pointer;
  color: #0088cc;
}

.Var-naming {
  cursor: pointer;
  color: #0088cc;
}

.Functions {
  cursor: pointer;
  color: #0088cc;
}

.Methods {
  cursor: pointer;
  color: #0088cc;
}

.Arguments {
  cursor: pointer;
  color: #0088cc;
}

.Parameters {
  cursor: pointer;
  color: #0088cc;
}

.Return {
  cursor: pointer;
  color: #0088cc;
}

.Chaining-methods {
  cursor: pointer;
  color: #0088cc;
}

.Strings {
  cursor: pointer;
  color: #0088cc;
}

.Booleans {
  cursor: pointer;
  color: #0088cc;
}

.Undefined {
  cursor: pointer;
  color: #0088cc;
}

.NaN {
  cursor: pointer;
  color: #0088cc;
}

.Escape {
  cursor: pointer;
  color: #0088cc;
}

.Alerts {
  cursor: pointer;
  color: #0088cc;
}

.Comments {
  cursor: pointer;
  color: #0088cc;
}

.jQuery {
  cursor: pointer;
  color: #0088cc;
}

.Attributes {
  cursor: pointer;
  color: #0088cc;
}
